<form #heroForm="ngForm" autocomplete="off" [ngync]="this.slice">
  <label for="firstName">First Name: </label>
  <input id="firstName" type="text" ngField="firstName">

  <label for="lastName">Last Name: </label>
  <input id="lastName" type="text" ngField="lastName">

  <div ngFieldGroup="address">
    <h2>Address</h2>

    <label for="street">Street: </label>
    <input id="street" type="text" ngField="street">

    <label for="city">City: </label>
    <input id="city" type="text" ngField="city">

    <label for="state">State: </label>
    <input id="state" type="text" ngField="state">

    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" ngField="zip">
  </div>

  <div ngFieldArray="aliases">
    <h2>Aliases</h2>
    <button type="button" (click)="addAlias()">+ Add another alias</button>

    <div *ngFor="let alias of model.aliases; let i=index; trackBy:trackById;">
      <label for="aliases.{{i}}">Alias:</label>
      <input id="aliases.{{i}}" type="text" ngField="{{i}}">
    </div>
  </div>


  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!heroForm.form.valid" (click)="onSubmit()">Submit</button>
</form>

<hr>

<p>Form State: {{ profile$ | async | json }}</p>

<button type="button" (click)="updateProfile()">Update Profile</button>
