<img id="gunshot" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" class="gunshot"/>

<div class="flip-card target" id="target">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" alt="Target" style="width:150px;height:150px;">
    </div>
    <div class="flip-card-back">
      <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" class="gunshot">
    </div>
  </div>
</div>

<div class="fab">
  <div class="clipping-rect">
    <div class="statistics" *ngIf="enabled" [@walter]>
      <h3>Total shots fired:</h3>
      <h1>{{shots}}</h1>
    </div>
  </div>
  <button (click)="toggleMode($event)" #walter title="Load The Weapon" [class.enabled]="enabled">
    <img id="walter" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D"/>
  </button>
</div>
