:host {
  margin: 2rem;
  position: relative;
  z-index: 0;
}

:host(.author) {
  display: block;
  background-image: url('../../../assets/james_bond_poster.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  & main {
    position: relative;
    background-color: rgba(220, 220, 220, 0.81);
    padding: 3rem;

    & nav {
      background-color: rgba(220, 220, 220, 0.97);
      position: sticky;
      top: 0;
      left: 0;
      width: calc(100% + 6rem);
      margin: -3rem -3rem 0rem -3rem;
      padding: 1rem 3rem;
      z-index: 10;
    }

    & button {
      background-color: #eee;
    }

    & button:hover {
      background-color: black;
      color: white;
    }

    & button:disabled {
      background-color: #eee;
      color: #aaa;
      cursor: auto;
    }
  }
}

:host(.agent) {
  display: block;
  background-image: url('../../../assets/james_bond.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  & main {
    position: relative;
    background-color: rgba(220, 220, 220, 0.51);
    padding: 3rem;

    & nav {
      background-color: rgba(220, 220, 220, 0.97);
      position: sticky;
      top: 0;
      left: 0;
      width: calc(100% + 6rem);
      margin: -3rem -3rem 0rem -3rem;
      padding: 1rem 3rem;
    }

    & button {
      background-color: #eee;
    }

    & button:hover {
      background-color: black;
      color: white;
    }

    & button:disabled {
      background-color: #eee;
      color: #aaa;
      cursor: auto;
    }
  }
}

:host(.model) {
  display: block;
  background-color: rgba(250, 236, 218, 0.97);
  background-image: url('../../../assets/james_bond_model.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  & main {
    position: relative;
    background-color: rgba(250, 236, 218, 0.71);
    padding: 3rem;

    & nav {
      background-color: rgba(250, 236, 218, 0.97);
      position: sticky;
      top: 0;
      left: 0;
      width: calc(100% + 6rem);
      margin: -3rem -3rem 0rem -3rem;
      padding: 1rem 3rem;
    }

    & button {
      background-color: #eddfdf;
    }

    & button:hover {
      background-color: black;
      color: white;
    }

    & button:disabled {
      background-color: #eee;
      color: #aaa;
      cursor: auto;
    }
  }
}

nav button {
  padding: 1rem;
  font-size: inherit;
}
