<h1 *ngIf="showReactiveProfileEditor">Reactive Form</h1>
<h1 *ngIf="showTemplateProfileEditor">Template-Driven Form</h1>
<h1 *ngIf="showStandardProfileEditor">NgModel Form</h1>
<nav>
  <button type="button" (click)="toggleEditor('reactive')">Reactive Profile Editor</button>
  <button type="button" (click)="toggleEditor('template-driven')">Template Driven Hero Editor</button>
  <button type="button" (click)="toggleEditor('standard')">Model Driven Hero Editor</button>
</nav>

<reactive-profile-editor *ngIf="showReactiveProfileEditor"></reactive-profile-editor>
<template-profile-editor *ngIf="showTemplateProfileEditor"></template-profile-editor>
<standard-profile-editor *ngIf="showStandardProfileEditor"></standard-profile-editor>
