
<main [ngSwitch]="editor">
  <nav>
    <div>
      <button type="button" (click)="toggleEditor('reactive')">Reactive Form</button>
      <button type="button" (click)="toggleEditor('template-driven')">Custom Directives Form</button>
      <button type="button" (click)="toggleEditor('standard')">Template-Driven Form</button>
      <button type="button" id="messages" (click)="readMessages()" [disabled]="!text.length">Snoozed Messages<i *ngIf="text.length">{{text.length}}</i></button>
    </div>
    <div class="description">
      <h1>Angular Forms powered by<a href="https://www.npmjs.com/package/nygma">nygma library</a>™</h1>
      <img class="maskot" src="../../../docs/assets/maskot.png" alt="nygma" width="100"/>
    </div>
  </nav>

  <div *ngSwitchCase="'reactive'">
    <reactive-profile-editor [caption]="'Author'"></reactive-profile-editor>
  </div>

  <div *ngSwitchCase="'template-driven'">
    <template-profile-editor [caption]="'Agent'"></template-profile-editor>
  </div>

  <div *ngSwitchCase="'standard'">
    <standard-profile-editor [caption]="'Model'"></standard-profile-editor>
  </div>
</main>

<ng-container #view></ng-container>
<shooting-ground></shooting-ground>
