<ng-container *ngIf="profile$ | async as profile">
  <json-editor [data]="profile" (collapsedChange)="collapsed = $event"></json-editor>
  <div class="scrollable" [class.collapsed]="collapsed">
    <pre [style.display]="collapsed ? 'none': 'block'">{{profile | json}}</pre>
    <form [formGroup]="profileForm" autocomplete="off" [ngync]="this.slice">
      <h2>{{caption}}</h2>
      <div class="bookmark">
        <a (click)="addToBookmark(bookmark)">
          <label for="bookmark" [ngStyle]="{'display': 'none'}">Bookmark</label>
          <input class="checkbox" id="bookmark" type="checkbox" checked="checked" (click)="addToBookmark($event.target)" formControlName="bookmark" #bookmark>
          <span>Add to bookmarks</span>
        </a>
      </div>

      <label for="firstName">First Name: </label>
      <input id="firstName" type="text" formControlName="firstName">

      <label for="lastName">Last Name: </label>
      <input id="lastName" type="text" formControlName="lastName">

      <div formGroupName="address">
        <h2>Address</h2>

        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street">

        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city">

        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state">

        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip">
      </div>
      <div>
        <label for="quotes">Quotes: </label>
        <textarea id="quotes" formControlName="quotes"></textarea>

        <label for="books">Books: </label>
        <select id="books" formControlName="selected" (change)="onSelectChange($event)">
          <option *ngFor="let book of books; let i=index;" [value]="i">{{book.value}}</option>
        </select>
      </div>

      <div formArrayName="aliases">
        <h2>Aliases</h2>
        <button type="button" (click)="addAlias()">+ Add another alias</button>

        <div *ngFor="let alias of aliases; let i=index">
          <label for="aliases.{{i}}">Alias:</label>
          <input id="aliases.{{i}}" type="text" formControlName="{{i}}">
        </div>
      </div>


      <p>Complete the form to enable button.</p>
      <button type="submit" [disabled]="!profileForm.valid" (click)="onSubmit()">Submit</button>
      <button type="button" (click)="updateProfile()">👇 Update Profile</button>
    </form>

    <footer>
      <hr>
      <p>© 2023 James Bond. All rights reserved.</p>
      <p>Disclaimer: This project is not affiliated with the James Bond franchise. All rights belong to their respective owners.</p>
      <p>The project is not commercial. All information provided is found on the Internet on public servers. Created by <a href="https://www.linkedin.com/in/oleksii-shepel-5b6968250/">Oleksii Shepel</a> in 2023.</p>
    </footer>
  </div>
</ng-container>
