/* ProfileEditorComponent's private CSS styles */

form {
  padding-top: 0rem;
}

label {
  display: block;
  margin: .5em 0;
  font-weight: bold;
}

.ng-invalid:not(.ng-untouched) {
  border-color: red;
}

.bookmark {
  display: flex;
  justify-content: flex-end;

  & .checkbox {
    display: inline-block;
    margin-right: 0.5rem;
    z-index: 0;
  }
}

:host {
  display: grid;
  gap: 20px;
  grid-template-columns: 100%;
  grid-template-areas:
  "header"
  "main";
}

json-editor {
  margin-top: 20px;
  grid-area: header;
}

.scrollable {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: 0rem;
  margin-bottom: -1rem;
  padding: 0 12px 0 20px;
  align-items: center;
  justify-content: stretch;
  position: relative;
}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  max-width: 100%;

  & form {
    min-width: 500px;
    max-width: 70%;
    order: 1;
    position: relative;
  }

  & pre {
    flex: 1.5 0;
    order: 2;
    border-radius: 0;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
  }
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #dbdbdb;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: #908e8d;
  border-radius: 100px;
}
