/* MODAL STYLES
-------------------------------*/
messenger {
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 3px;
  }

  .modal-body {
    padding: 20px;
    color: #fff;
    border-radius: 3px;
    text-align: start;
    width: 600px;
    user-select: none;

    p {
      display: inline-flex;
      font-size: 3rem;
      font-weight: 800;
      line-height: 0.8;
      margin: 0;
    }

    img {
      background-image: url(../../../assets/dr_no.png);
      background-size: cover;
      display: inline;
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }
  }
}
