<form #modelForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" ngync="model">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" [(ngModel)]="model.firstName" name="firstName">

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" [(ngModel)]="model.lastName" name="lastName">

  <div ngModelGroup="address">
    <h2>Address</h2>

    <label for="street">Street: </label>
    <input id="street" type="text" [(ngModel)]="model.address.street" name="street">

    <label for="city">City: </label>
    <input id="city" type="text" [(ngModel)]="model.address.city" name="city">

    <label for="state">State: </label>
    <input id="state" type="text" [(ngModel)]="model.address.state" name="state">

    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" [(ngModel)]="model.address.zip" name="zip">
  </div>

  <div ngModelArray="aliases">
    <h2>Aliases</h2>
    <button type="button" (click)="addAlias()">+ Add another alias</button>

    <div *ngFor="let alias of model.aliases; let i=index; trackBy:trackById;">
      <label for="alias-{{i}}">Alias:</label>
      <input id="alias-{{i}}" type="text" [(ngModel)]="model.aliases[i]" name="{{i}}">
    </div>
  </div>


  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!modelForm.form.valid">Submit</button>
</form>

<hr>

<p>Form State: {{ profile$ | async | json }}</p>

<button type="button" (click)="updateProfile()">Update Profile</button>
